.cards {
  top: 40px;
  position: relative;
}

.card {
  border: 1px solid #fff;
  border-radius: 10px;
  transition: all 2s;
  overflow: hidden;
  animation-name: cardSwitch;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes cardSwitch {
  from {
    height: 350px;
    width: 250px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: calc((350px - 350px) / 2);
    z-index: 4;
  }
  14.28% {
    height: 300px;
    width: 214.28px;
    left: 60%;
    transform: translateX(-50%);
    position: absolute;
    top: calc((350px - 300px) / 2);
    z-index: 3;
    opacity: 0.9;
  }
  28.57% {
    height: 257.14px;
    width: 183.67px;
    left: 67%;
    transform: translateX(-50%);
    position: absolute;
    top: calc((350px - 257.14px) / 2);
    z-index: 2;
    opacity: 0.8;
  }
  42.85% {
    height: 220.4px;
    width: 157.42px;
    left: 70.5%;
    transform: translateX(-50%);
    position: absolute;
    top: calc((350px - 220.4px) / 2);
    z-index: 1;
    opacity: 0.75;
  }
  57.14% {
    height: 220.4px;
    width: 157.42px;
    left: 29.5%;
    transform: translateX(-50%);
    position: absolute;
    top: calc((350px - 220.4px) / 2);
    z-index: 0;
    opacity: 0.75;
  }
  71.42% {
    height: 257.14px;
    width: 183.67px;
    left: 33%;
    transform: translateX(-50%);
    position: absolute;
    top: calc((350px - 257.14px) / 2);
    z-index: 1;
    opacity: 0.8;
  }
  85.71% {
    height: 300px;
    width: 214.28px;
    left: 40%;
    transform: translateX(-50%);
    position: absolute;
    top: calc((350px - 300px) / 2);
    z-index: 2;
    opacity: 0.9;
  }
  to {
    height: 350px;
    width: 250px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: calc((350px - 350px) / 2);
    z-index: 4;
  }
}
/* 
.card:hover {
  scale: 1.05;
} */

.darius {
  box-shadow: 0px 0px 7px #731616;
  animation-delay: -9s;
}

.garen {
  box-shadow: 0px 0px 7px #cf6416;
  animation-delay: -6s;
}

.diana {
  box-shadow: 0px 0px 7px #420a4b;
  animation-delay: -3s;
}

.katarina {
  box-shadow: 0px 0px 7px #6c0000;
}

.tyrandemere {
  box-shadow: 0px 0px 7px #2ec7c7;
  animation-delay: -18s;
}
.elise {
  box-shadow: 0px 0px 7px #e454e9;
  animation-delay: -15s;
}

.jaximus {
  box-shadow: 0px 0px 7px #16153b;
  animation-delay: -12s;
}

img {
  width: 100%;
}

/* First layer */

/* .ps-4 {
  height: 350px;
  width: 250px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: calc((350px - 350px) / 2);
  z-index: 4;
} */

/* Second layer */

/* .ps-3 {
  height: 300px;
  width: 214.28px;
  left: 40%;
  transform: translateX(-50%);
  position: absolute;
  top: calc((350px - 300px) / 2);
  z-index: 2;
  opacity: 0.9;
}
.ps-5 {
  height: 300px;
  width: 214.28px;
  left: 60%;
  transform: translateX(-50%);
  position: absolute;
  top: calc((350px - 300px) / 2);
  z-index: 3;
  opacity: 0.9;
} */

/* Third layer */

/* .ps-6 {
  height: 257.14px;
  width: 183.67px;
  left: 67%;
  transform: translateX(-50%);
  position: absolute;
  top: calc((350px - 257.14px) / 2);
  z-index: 2;
  opacity: 0.8;
}
.ps-2 {
  height: 257.14px;
  width: 183.67px;
  left: 33%;
  transform: translateX(-50%);
  position: absolute;
  top: calc((350px - 257.14px) / 2);
  z-index: 1;
  opacity: 0.8;
} */

/* Forth layer */

/* .ps-1 {
  height: 220.4px;
  width: 157.42px;
  left: 29.5%;
  transform: translateX(-50%);
  position: absolute;
  top: calc((350px - 220.4px) / 2);
  z-index: 0;
  opacity: 0.75;
}
.ps-7 {
  height: 220.4px;
  width: 157.42px;
  left: 70.5%;
  transform: translateX(-50%);
  position: absolute;
  top: calc((350px - 220.4px) / 2);
  z-index: 1;
  opacity: 0.75;
} */
