* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  color: #fff;

  /* Temporary */
  background-color: #1e1e1e;
}

.hidden {
  opacity: 0 !important;
  pointer-events: none !important;
  visibility: hidden !important;
}

.no-display {
  display: none !important;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 4.8rem;
}

.header {
  position: fixed;
  height: 7rem;
  width: 100vw;
  background-color: #040405;
  top: 0;
  padding: 1.2rem 0;
}

.header__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.header__grid--left .menu-icon {
  height: 3.8rem;
  width: 3.8rem;
  cursor: pointer;
}

.header-icon {
  color: #fff;
}

.logo {
  display: grid;
  align-items: center;
  gap: 0.8rem;
  grid-template-columns: 55fr 45fr;
}

.header__grid--center a:link,
a:visited {
  display: inline-block;
  margin-left: auto;
  width: fit-content;
  color: inherit;
  text-decoration: none;
  font-family: 'Geo', sans-serif;
  font-size: 4.4rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 0.95;
  text-align: right;
}

.logo-img {
  height: 3.2rem;
}

.header__grid--right {
  padding-top: 0.8rem;
  align-self: start;
}

.account--nav {
  display: flex;
  margin-left: auto;
  width: fit-content;
  gap: 2.4rem;
}

.account--nav-el {
  text-align: center;
  height: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 30px 0 0 transparent;
  position: relative;
}

.account--nav-el:link,
.account--nav-el:visited {
  text-decoration: none;
}

.account--nav-el:hover,
.account--nav-el:active {
  box-shadow: 0 34px 0 0 #66fcf1;
}

.account--nav-el:hover .outline-icon {
  opacity: 0;
}

.account--nav-el:hover .filled-icon {
  opacity: 1;
}

.account--nav .gem-icon {
  width: 2rem;
  height: 2rem;
}

.account--nav .bag-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.account--nav .account-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.account--nav {
  position: relative;
}

.outline-icon {
  transition: all 0.3s;
}

.filled-icon {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  opacity: 0;
  transition: all 0.3s;
}

.toLeftL {
  animation: toLeftL 0.8s ease-out forwards;
}

.toLeftS {
  animation: toLeftS 0.8s ease-out forwards;
}

@keyframes toLeftL {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(-12.8rem);
    opacity: 1;
  }
}

@keyframes toLeftS {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(-4.8rem);
    opacity: 1;
  }
}

@keyframes toRightL {
  0% {
    transform: translateX(-12.8rem);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes toRightS {
  0% {
    transform: translateX(-4.8rem);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

.btn {
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.btn-main {
  width: max-content;
  font-family: inherit;
  font-size: 1.6rem;
  border-radius: 9px;
  color: #fff;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
}

.btn-main:hover {
  background-color: #302e2e;
}

.btn-header {
  position: absolute;
  right: 2.4rem;
  top: -0.5rem;
  transition: all 0.4s;
}

.btn-header::after {
  content: '';
  display: block;
  position: fixed;
  width: 100%;
  height: 5px;
  transform: translateX(-20%);
  border-radius: 5px;
  transition: all 0.3s;
  box-shadow: 0 10px 0 0 transparent;
}

.btn-main:hover.btn-header::after {
  box-shadow: 0 14px 0 0 #66fcf1;
}
