* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.some {
  height: 500px;
  width: 500px;
  /* background-color: #302e2e; */
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  color: #fff;

  /* Temporary */
  background-color: #1e1e1e;
}

.header-btn-hidden {
  opacity: 0 !important;
  pointer-events: none !important;
  visibility: hidden !important;
}

.no-display {
  display: none !important;
}

.container-header {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 4.8rem;
  position: relative;
}

.header {
  position: fixed;
  height: 7rem;
  width: 100vw;
  background-color: #040405;
  top: 0;
  padding: 1.2rem 0;
}

.header__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.menu-nav {
  padding: 0.4rem 0;
  border: none;
  background-color: transparent;
  position: relative;
}

.header__grid--left .menu-icon {
  height: 3.8rem;
  width: 3.8rem;
  cursor: pointer;
  transition: all 0.4s;
}

.menu-filled {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -0.2rem;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.4s;
}

.menu-icon:hover ~ .menu-filled {
  opacity: 1;
}

.menu-icon:hover {
  opacity: 0;
}

.header__menu-popup {
  position: absolute;
  background-color: #040405;
  top: 7.2rem;
  left: 1.6rem;
  border-radius: 0 20px 0 20px;
  border: 1px solid #fff;
  overflow: hidden;
}

.header__menu-popup ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.header__menu--item {
  color: #fff;
  font-size: 1.8rem;
  padding: 1.2rem 4rem 1.2rem 2.4rem;
  opacity: 0;
  width: max-content;
}

.menuItemToRight {
  animation: menuItemToRight 0.8s ease-out forwards;
}

.header__menu--item:nth-child(2) {
  animation-delay: 0.1s;
}
.header__menu--item:nth-child(3) {
  animation-delay: 0.2s;
}
.header__menu--item:last-child {
  animation-delay: 0.3s;
}

.header__menu--item:first-child {
  padding-top: 2rem;
  border-radius: 0 20px 0 0;
}

.header__menu--item:last-child {
  padding-bottom: 2rem;
  border-radius: 0 0 0 20px;
}

.header__menu--item a:link,
.header__menu--item a:visited {
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  position: relative;
  color: inherit;
  text-decoration: none;
  transition: all 0.4s;
  left: 0;
}

.header__menu--item a:hover,
.header__menu--item a:active {
  background-color: #302e2e;
  left: 0.8rem;
}

.header__menu--item a:link::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  box-shadow: 0 4px 0 0 transparent;
}

.header__menu--item a:hover::after {
  box-shadow: 0 8px 0 0 #66fcf1;
}

.menuExpand {
  animation: menuExpand 0.8s ease-out;
}

@keyframes menuExpand {
  0% {
    max-height: 0;
    max-width: 0rem;
    border-radius: 5rem;
  }
  100% {
    max-height: 20rem;
    max-width: 18rem;
  }
}

@keyframes menuReduce {
  0% {
    max-height: 20rem;
    max-width: 18rem;
  }
  100% {
    max-width: 0rem;
    max-height: 0;
    border-radius: 5rem;
  }
}

@keyframes menuItemToRight {
  0% {
    transform: translateX(-7.2rem) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes menuItemToLeft {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateX(-7.2rem);
    opacity: 0;
  }
}

.header-icon {
  color: #fff;
}

.logo {
  display: grid;
  align-items: center;
  gap: 0.8rem;
  grid-template-columns: 6fr 4fr;
}

.header__grid--center a:link,
.header__grid--center a:visited {
  display: inline-block;
  margin-left: auto;
  width: fit-content;
  color: inherit;
  text-decoration: none;
  font-family: 'Geo', sans-serif;
  font-size: 4.4rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 0.95;
  text-align: right;
}

.logo-img {
  height: 3.2rem;
}

.header__grid--right {
  padding-top: 0.8rem;
  align-self: start;
}

.account--nav {
  display: flex;
  margin-left: auto;
  width: fit-content;
  gap: 2.4rem;
}

.account--nav-el {
  text-align: center;
  height: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 30px 0 0 transparent;
  position: relative;
}

.account--nav-el:link,
.account--nav-el:visited {
  text-decoration: none;
}

.account--nav-el:hover,
.account--nav-el:active {
  box-shadow: 0 34px 0 0 #66fcf1;
}

.account--nav-el:hover .outline-icon {
  opacity: 0;
}

.account--nav-el:hover .filled-icon {
  opacity: 1;
}

.account--nav .gem-icon {
  width: 2rem;
  height: 2rem;
}

.account--nav .bag-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.account--nav .account-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.account--nav {
  position: relative;
}

.outline-icon {
  transition: all 0.3s;
}

.filled-icon {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  opacity: 0;
  transition: all 0.3s;
}

.toLeftL {
  animation: toLeftL 0.8s ease-out forwards;
}

.toLeftS {
  animation: toLeftS 0.8s ease-out forwards;
}

@keyframes toLeftL {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(-18rem);
    opacity: 1;
  }
}

@keyframes toLeftS {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(-10rem);
    opacity: 1;
  }
}

@keyframes toRightL {
  0% {
    transform: translateX(-18rem);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes toRightS {
  0% {
    transform: translateX(-10rem);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

.btn {
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.btn-main-header {
  width: max-content;
  font-family: inherit;
  font-size: 1.6rem;
  border-radius: 5px;
  color: #fff;
  padding: 0.4rem 0.8rem;
  cursor: pointer;

  position: absolute;
  right: -100%;
  transition: all 0.4s;
}

.btn-main-header:hover {
  background-color: #302e2e;
}

.btn-main-header::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 0.5rem;
  transform: translateX(-12%);
  border-radius: 0.5rem;
  transition: all 0.3s;
  box-shadow: 0 8px 0 0 transparent;
}

.btn-main-header:hover.btn-main-header::after {
  box-shadow: 0 12px 0 0 #66fcf1;
}
