* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  background-color: #0d1117;
  color: #ddd;
}

/* MODAL */

.gems-info {
  background-color: #040405;
  width: 40rem;
  height: 20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -130%);
  position: absolute;
  z-index: 9999;
  border: rgb(235, 9, 9);
  border-radius: 1rem;
  box-shadow: 0 0 1rem red;
  color: red;
  font-size: 2rem;
  text-align: center;
  padding-top: 8.3rem;
  padding-left: 1.3%;
  padding-right: 1.3%;
}

.gems-info-close-modal {
  top: 0.3rem;
  right: 0.4rem;
  position: absolute;
  font-size: 3rem;
  color: red;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.gems-hidden {
  display: none;
}

.gems-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 9998;
  position: fixed;
  top: 0;
  /* overflow-y: hidden; */
  backdrop-filter: blur(0.4rem);
}

/* GEMS MAIN CONTAINER */

.gems-main-container {
  z-index: 1;
  display: grid;
  max-width: 144rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  justify-content: center;
  padding: 15.2rem 4.8rem 0 4.8rem;
  gap: 3.2rem;
  min-height: calc(100vh - 19.2rem);
}

/* GEMS 3 CHOICE */

.gems-box {
  width: 40rem;
  height: 51.2rem;
  /* background-color: white; */
  margin-bottom: 6.4rem;
  /* margin-top: 4.8rem; */
  background: #040405;
  box-shadow: 0px 0px 20px rgba(102, 252, 241, 0.25);
  border-radius: 20px;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.gems-box:hover {
  box-shadow: 0px 0px 45px rgba(102, 252, 241, 0.45);
}

.gems-box:hover img {
  filter: drop-shadow(0px 0px 3rem #ff0000);
  transition: filter 0.3s ease-in-out;
}

.gems-title-box {
  width: 22.2rem;
  height: 5.4rem;
  background-color: red;
  transform: translateY(-50%);
  margin: 0 auto;
  background: #040405;
  box-shadow: 0px 0px 20px rgba(102, 252, 241, 0.25);
  border-radius: 10px;
  text-align: center;
}

.gems-title {
  font-size: 2.4rem;
  color: white;
  transform: translateY(40%);
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.gems-free-img {
  max-width: 80%;
  transform: translateY(65%);
  transition: filter 0.3s ease-in-out;
}

.gems-popular-img {
  max-width: 110%;
  transform: translate(-5%, 67%);
  transition: filter 0.3s ease-in-out;
}

.gems-value-img {
  max-width: 150%;
  transform: translateY(43%) translateX(-20%);
  transition: filter 0.3s ease-in-out;
}
.gems-amount {
  font-size: 4.8rem;
  color: white;
  opacity: 80%;
  transform: translate(0%, 150%);
}

.gems-amount-img {
  max-width: 20%;
  transform: translateY(10%) translateX(10%);
}

.gems-free {
  font-size: 5.2rem;
  transform: translate(0%, 240%);
}

.gems-price1 {
  font-size: 5.2rem;
  transform: translate(0%, 250%);
}

.gems-price2 {
  font-size: 5.2rem;
  transform: translate(0%, 160%);
}

/* MEDIA QUERIES */

/* |||||||||||  1300PX  ||||||||||||||| */

@media (max-width: 1300px) {
  .gems-main-container {
    z-index: 1;
    display: grid;
    max-width: 144rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    justify-content: center;
    padding: 15.2rem 4.8rem 0 4.8rem;
    gap: 3.2rem;
    min-height: calc(100vh - 19.2rem);
  }

  /* GEMS MAIN CONTAINER */

  .gems-main-container {
    z-index: 1;
    display: grid;
    max-width: 144rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    justify-content: center;
    padding: 15.2rem 4.8rem 0 4.8rem;
    gap: 3.2rem;
    min-height: calc(100vh - 19.2rem);
  }

  /* GEMS 3 CHOICE */

  .gems-box {
    width: 35rem;
    height: 48.2rem;
    /* background-color: white; */
    margin-bottom: 6.4rem;
    /* margin-top: 4.8rem; */
    background: #040405;
    box-shadow: 0px 0px 20px rgba(102, 252, 241, 0.25);
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }

  .gems-box:hover {
    box-shadow: 0px 0px 45px rgba(102, 252, 241, 0.45);
  }

  .gems-box:hover img {
    filter: drop-shadow(0px 0px 3rem #ff0000);
    transition: filter 0.3s ease-in-out;
  }

  .gems-title-box {
    width: 22.2rem;
    height: 5.4rem;
    background-color: red;
    transform: translateY(-50%);
    margin: 0 auto;
    background: #040405;
    box-shadow: 0px 0px 20px rgba(102, 252, 241, 0.25);
    border-radius: 10px;
    text-align: center;
  }

  .gems-title {
    font-size: 2.4rem;
    color: white;
    transform: translateY(40%);
    font-weight: 500;
    letter-spacing: 0.2rem;
  }

  .gems-free-img {
    max-width: 80%;
    transform: translateY(65%);
    transition: filter 0.3s ease-in-out;
  }

  .gems-popular-img {
    max-width: 110%;
    transform: translate(-5%, 67%);
    transition: filter 0.3s ease-in-out;
  }

  .gems-value-img {
    max-width: 150%;
    transform: translateY(43%) translateX(-20%);
    transition: filter 0.3s ease-in-out;
  }
  .gems-amount {
    font-size: 4.8rem;
    color: white;
    opacity: 80%;
    transform: translate(0%, 150%);
  }

  .gems-amount-img {
    max-width: 20%;
    transform: translateY(10%) translateX(10%);
  }

  .gems-free {
    font-size: 5.2rem;
    transform: translate(0%, 240%);
  }

  .gems-price1 {
    font-size: 5.2rem;
    transform: translate(0%, 250%);
  }

  .gems-price2 {
    font-size: 5.2rem;
    transform: translate(0%, 160%);
  }
}

/*||||||||  1120PX  ||||||||||||||||||||*/

@media (max-width: 1120px) {
  .gems-main-container {
    z-index: 1;
    display: grid;
    max-width: 144rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    justify-content: center;
    padding: 15.2rem 4.8rem 0 4.8rem;
    gap: 3.2rem;
    min-height: calc(100vh - 19.2rem);
  }

  /* GEMS MAIN CONTAINER */

  .gems-main-container {
    z-index: 1;
    display: grid;
    max-width: 144rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    justify-content: center;
    padding: 15.2rem 4.8rem 0 4.8rem;
    gap: 3.2rem;
    min-height: calc(100vh - 19.2rem);
  }

  /* GEMS 3 CHOICE */

  .gems-box {
    width: 30rem;
    height: 45.2rem;
    /* background-color: white; */
    margin-bottom: 6.4rem;
    /* margin-top: 4.8rem; */
    background: #040405;
    box-shadow: 0px 0px 20px rgba(102, 252, 241, 0.25);
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }

  .gems-box:hover {
    box-shadow: 0px 0px 35px rgba(102, 252, 241, 0.45);
  }

  .gems-box:hover img {
    filter: drop-shadow(0px 0px 2rem #ff0000);
    transition: filter 0.3s ease-in-out;
  }

  .gems-title-box {
    width: 22.2rem;
    height: 5.4rem;
    background-color: red;
    transform: translateY(-50%);
    margin: 0 auto;
    background: #040405;
    box-shadow: 0px 0px 20px rgba(102, 252, 241, 0.25);
    border-radius: 10px;
    text-align: center;
  }

  .gems-title {
    font-size: 2.4rem;
    color: white;
    transform: translateY(40%);
    font-weight: 500;
    letter-spacing: 0.2rem;
  }

  .gems-free-img {
    max-width: 64%;
    transform: translateY(85%);
    transition: filter 0.3s ease-in-out;
  }

  .gems-popular-img {
    max-width: 85%;
    transform: translate(-3%, 85%);
    transition: filter 0.3s ease-in-out;
  }

  .gems-value-img {
    max-width: 125%;
    transform: translateY(50%) translateX(-14%);
    transition: filter 0.3s ease-in-out;
  }
  .gems-amount {
    font-size: 4rem;
    color: white;
    opacity: 80%;
    transform: translate(0%, 150%);
  }

  .gems-amount-img {
    max-width: 20%;
    transform: translateY(10%) translateX(10%);
  }

  .gems-free {
    font-size: 5.2rem;
    transform: translate(0%, 240%);
  }

  .gems-price1 {
    font-size: 5.2rem;
    transform: translate(0%, 250%);
  }

  .gems-price2 {
    font-size: 5.2rem;
    transform: translate(0%, 160%);
  }
}

/*||||||||  990PX  ||||||||||||||||||||*/

@media (max-width: 990px) {
  .gems-main-container {
    z-index: 1;
    display: grid;
    max-width: 144rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    justify-content: center;
    padding: 15.2rem 4.8rem 0 4.8rem;
    gap: 3.2rem;
    min-height: calc(100vh - 19.2rem);
  }

  /* GEMS MAIN CONTAINER */

  .gems-main-container {
    z-index: 1;
    display: grid;
    max-width: 144rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    justify-content: center;
    padding: 15.2rem 4.8rem 0 4.8rem;
    gap: 3.2rem;
    min-height: calc(100vh - 19.2rem);
  }

  /* GEMS 3 CHOICE */

  .gems-box {
    width: 40rem;
    height: 50.2rem;
    /* background-color: white; */
    margin-bottom: 6.4rem;
    /* margin-top: 4.8rem; */
    background: #040405;
    box-shadow: 0px 0px 20px rgba(102, 252, 241, 0.25);
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }

  .gems-box:hover {
    box-shadow: 0px 0px 45px rgba(102, 252, 241, 0.45);
  }

  .gems-box:hover img {
    filter: drop-shadow(0px 0px 3rem #ff0000);
    transition: filter 0.3s ease-in-out;
  }

  .gems-title-box {
    width: 22.2rem;
    height: 5.4rem;
    background-color: red;
    transform: translateY(-50%);
    margin: 0 auto;
    background: #040405;
    box-shadow: 0px 0px 20px rgba(102, 252, 241, 0.25);
    border-radius: 10px;
    text-align: center;
  }

  .gems-title {
    font-size: 2.4rem;
    color: white;
    transform: translateY(40%);
    font-weight: 500;
    letter-spacing: 0.2rem;
  }

  .gems-free-img {
    max-width: 64%;
    transform: translateY(85%);
    transition: filter 0.3s ease-in-out;
  }

  .gems-popular-img {
    max-width: 85%;
    transform: translate(-3%, 85%);
    transition: filter 0.3s ease-in-out;
  }

  .gems-value-img {
    max-width: 125%;
    transform: translateY(50%) translateX(-14%);
    transition: filter 0.3s ease-in-out;
  }
  .gems-amount {
    font-size: 4rem;
    color: white;
    opacity: 80%;
    transform: translate(0%, 150%);
  }

  .gems-amount-img {
    max-width: 20%;
    transform: translateY(10%) translateX(10%);
  }

  .gems-free {
    font-size: 5.2rem;
    transform: translate(0%, 240%);
  }

  .gems-price1 {
    font-size: 5.2rem;
    transform: translate(0%, 250%);
  }

  .gems-price2 {
    font-size: 5.2rem;
    transform: translate(0%, 160%);
  }
}

/*||||||||  855PX  ||||||||||||||||||||*/

@media (max-width: 855px) {
  .gems-main-container {
    z-index: 1;
    display: grid;
    max-width: 144rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    justify-content: center;
    padding: 15.2rem 4.8rem 0 4.8rem;
    gap: 3.2rem;
    min-height: calc(100vh - 19.2rem);
  }

  /* GEMS MAIN CONTAINER */

  .gems-main-container {
    z-index: 1;
    display: grid;
    max-width: 144rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    justify-content: center;
    padding: 15.2rem 4.8rem 0 4.8rem;
    gap: 3.2rem;
    min-height: calc(100vh - 19.2rem);
  }

  /* GEMS 3 CHOICE */

  .gems-box {
    width: 35rem;
    height: 45.2rem;
    /* background-color: white; */
    margin-bottom: 6.4rem;
    /* margin-top: 4.8rem; */
    background: #040405;
    box-shadow: 0px 0px 20px rgba(102, 252, 241, 0.25);
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }

  .gems-box:hover {
    box-shadow: 0px 0px 45px rgba(102, 252, 241, 0.45);
  }

  .gems-box:hover img {
    filter: drop-shadow(0px 0px 3rem #ff0000);
    transition: filter 0.3s ease-in-out;
  }

  .gems-title-box {
    width: 22.2rem;
    height: 5.4rem;
    background-color: red;
    transform: translateY(-50%);
    margin: 0 auto;
    background: #040405;
    box-shadow: 0px 0px 20px rgba(102, 252, 241, 0.25);
    border-radius: 10px;
    text-align: center;
  }

  .gems-title {
    font-size: 2.4rem;
    color: white;
    transform: translateY(40%);
    font-weight: 500;
    letter-spacing: 0.2rem;
  }

  .gems-free-img {
    max-width: 64%;
    transform: translateY(85%);
    transition: filter 0.3s ease-in-out;
  }

  .gems-popular-img {
    max-width: 85%;
    transform: translate(-3%, 85%);
    transition: filter 0.3s ease-in-out;
  }

  .gems-value-img {
    max-width: 125%;
    transform: translateY(50%) translateX(-14%);
    transition: filter 0.3s ease-in-out;
  }
  .gems-amount {
    font-size: 4rem;
    color: white;
    opacity: 80%;
    transform: translate(0%, 150%);
  }

  .gems-amount-img {
    max-width: 20%;
    transform: translateY(10%) translateX(10%);
  }

  .gems-free {
    font-size: 5.2rem;
    transform: translate(0%, 240%);
  }

  .gems-price1 {
    font-size: 5.2rem;
    transform: translate(0%, 250%);
  }

  .gems-price2 {
    font-size: 5.2rem;
    transform: translate(0%, 160%);
  }
}

/*||||||||  755PX  ||||||||||||||||||||*/

@media (max-width: 755px) {
  .gems-main-container {
    z-index: 1;
    display: grid;
    max-width: 144rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    justify-content: center;
    padding: 15.2rem 4.8rem 0 4.8rem;
    gap: 3.2rem;
    min-height: calc(100vh - 19.2rem);
  }

  /* GEMS MAIN CONTAINER */

  .gems-main-container {
    z-index: 1;
    display: grid;
    max-width: 144rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    justify-content: center;
    padding: 15.2rem 4.8rem 0 4.8rem;
    gap: 3.2rem;
    min-height: calc(100vh - 19.2rem);
  }

  /* GEMS 3 CHOICE */

  .gems-box {
    width: 30rem;
    height: 45.2rem;
    /* background-color: white; */
    margin-bottom: 6.4rem;
    /* margin-top: 4.8rem; */
    background: #040405;
    box-shadow: 0px 0px 20px rgba(102, 252, 241, 0.25);
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }

  .gems-box:hover {
    box-shadow: 0px 0px 35px rgba(102, 252, 241, 0.45);
  }

  .gems-box:hover img {
    filter: drop-shadow(0px 0px 2rem #ff0000);
    transition: filter 0.3s ease-in-out;
  }

  .gems-title-box {
    width: 22.2rem;
    height: 5.4rem;
    background-color: red;
    transform: translateY(-50%);
    margin: 0 auto;
    background: #040405;
    box-shadow: 0px 0px 20px rgba(102, 252, 241, 0.25);
    border-radius: 10px;
    text-align: center;
  }

  .gems-title {
    font-size: 2.4rem;
    color: white;
    transform: translateY(40%);
    font-weight: 500;
    letter-spacing: 0.2rem;
  }

  .gems-free-img {
    max-width: 64%;
    transform: translateY(85%);
    transition: filter 0.3s ease-in-out;
  }

  .gems-popular-img {
    max-width: 85%;
    transform: translate(-3%, 85%);
    transition: filter 0.3s ease-in-out;
  }

  .gems-value-img {
    max-width: 125%;
    transform: translateY(50%) translateX(-14%);
    transition: filter 0.3s ease-in-out;
  }
  .gems-amount {
    font-size: 4rem;
    color: white;
    opacity: 80%;
    transform: translate(0%, 150%);
  }

  .gems-amount-img {
    max-width: 20%;
    transform: translateY(10%) translateX(10%);
  }

  .gems-free {
    font-size: 5.2rem;
    transform: translate(0%, 240%);
  }

  .gems-price1 {
    font-size: 5.2rem;
    transform: translate(0%, 250%);
  }

  .gems-price2 {
    font-size: 5.2rem;
    transform: translate(0%, 160%);
  }
}

/*||||||||  655PX  ||||||||||||||||||||*/

@media (max-width: 655px) {
  .gems-main-container {
    z-index: 1;
    display: grid;
    max-width: 144rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    justify-content: center;
    padding: 15.2rem 4.8rem 0 4.8rem;
    gap: 3.2rem;
    min-height: calc(100vh - 19.2rem);
  }

  /* GEMS MAIN CONTAINER */

  .gems-main-container {
    z-index: 1;
    display: grid;
    max-width: 144rem;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    justify-content: center;
    padding: 15.2rem 20% 0 9rem;
    gap: 3.2rem;
    min-height: calc(100vh - 19.2rem);
  }

  /* GEMS 3 CHOICE */

  .gems-box {
    width: 40rem;
    height: 50.2rem;
    /* background-color: white; */
    margin-bottom: 6.4rem;
    /* margin-top: 4.8rem; */
    background: #040405;
    box-shadow: 0px 0px 20px rgba(102, 252, 241, 0.25);
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }

  .gems-box:hover {
    box-shadow: 0px 0px 45px rgba(102, 252, 241, 0.45);
  }

  .gems-box:hover img {
    filter: drop-shadow(0px 0px 3rem #ff0000);
    transition: filter 0.3s ease-in-out;
  }

  .gems-title-box {
    width: 22.2rem;
    height: 5.4rem;
    background-color: red;
    transform: translateY(-50%);
    margin: 0 auto;
    background: #040405;
    box-shadow: 0px 0px 20px rgba(102, 252, 241, 0.25);
    border-radius: 10px;
    text-align: center;
  }

  .gems-title {
    font-size: 2.4rem;
    color: white;
    transform: translateY(40%);
    font-weight: 500;
    letter-spacing: 0.2rem;
  }

  .gems-free-img {
    max-width: 80%;
    transform: translateY(65%);
    transition: filter 0.3s ease-in-out;
  }

  .gems-popular-img {
    max-width: 110%;
    transform: translate(-5%, 67%);
    transition: filter 0.3s ease-in-out;
  }

  .gems-value-img {
    max-width: 150%;
    transform: translateY(43%) translateX(-20%);
    transition: filter 0.3s ease-in-out;
  }
  .gems-amount {
    font-size: 4.8rem;
    color: white;
    opacity: 80%;
    transform: translate(0%, 150%);
  }

  .gems-amount-img {
    max-width: 20%;
    transform: translateY(10%) translateX(10%);
  }

  .gems-free {
    font-size: 5.2rem;
    transform: translate(0%, 240%);
  }

  .gems-price1 {
    font-size: 5.2rem;
    transform: translate(0%, 250%);
  }

  .gems-price2 {
    font-size: 5.2rem;
    transform: translate(0%, 160%);
  }
}

/*||||||||  440PX  ||||||||||||||||||||*/

@media (max-width: 440px) {
  .gems-main-container {
    z-index: 1;
    display: grid;
    max-width: 144rem;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    justify-content: center;
    padding: 15.2rem 4.8rem 0 4.8rem;
    gap: 3.2rem;
    min-height: calc(100vh - 19.2rem);
  }

  /* GEMS 3 CHOICE */

  .gems-box {
    width: 30rem;
    height: 45.2rem;
    /* background-color: white; */
    margin-bottom: 6.4rem;
    /* margin-top: 4.8rem; */
    background: #040405;
    box-shadow: 0px 0px 20px rgba(102, 252, 241, 0.25);
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }

  .gems-box:hover {
    box-shadow: 0px 0px 35px rgba(102, 252, 241, 0.45);
  }

  .gems-box:hover img {
    filter: drop-shadow(0px 0px 2rem #ff0000);
    transition: filter 0.3s ease-in-out;
  }

  .gems-title-box {
    width: 22.2rem;
    height: 5.4rem;
    background-color: red;
    transform: translateY(-50%);
    margin: 0 auto;
    background: #040405;
    box-shadow: 0px 0px 20px rgba(102, 252, 241, 0.25);
    border-radius: 10px;
    text-align: center;
  }

  .gems-title {
    font-size: 2.4rem;
    color: white;
    transform: translateY(40%);
    font-weight: 500;
    letter-spacing: 0.2rem;
  }

  .gems-free-img {
    max-width: 64%;
    transform: translateY(85%);
    transition: filter 0.3s ease-in-out;
  }

  .gems-popular-img {
    max-width: 85%;
    transform: translate(-3%, 85%);
    transition: filter 0.3s ease-in-out;
  }

  .gems-value-img {
    max-width: 125%;
    transform: translateY(50%) translateX(-14%);
    transition: filter 0.3s ease-in-out;
  }
  .gems-amount {
    font-size: 4rem;
    color: white;
    opacity: 80%;
    transform: translate(0%, 150%);
  }

  .gems-amount-img {
    max-width: 20%;
    transform: translateY(10%) translateX(10%);
  }

  .gems-free {
    font-size: 5.2rem;
    transform: translate(0%, 240%);
  }

  .gems-price1 {
    font-size: 5.2rem;
    transform: translate(0%, 250%);
  }

  .gems-price2 {
    font-size: 5.2rem;
    transform: translate(0%, 160%);
  }
}
