* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  color: #ddd;
  background-color: #0d1117;
}

/* //////////////////////////// */
/* Filtering section */
/* //////////////////////////// */

.filter-options-hidden {
  display: none;
}

.filtering__section {
  max-width: 140rem;
  padding: 4.8rem 4.8rem 0 4.8rem;
  margin: 0 auto;
  background-color: #0d1117;
  position: fixed;
  top: 7rem;
  left: 0;
  right: 0;
  box-shadow: 0 3rem 3rem #0d1117;
  z-index: 7000;
}

.filtering-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 3.2rem;
}

.filter {
  position: relative;
  font-size: 1.8rem;
}

.filter-btn {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1.2rem 2.4rem;
  background-color: #040405;
  box-shadow: 0 0 2rem rgba(102, 252, 242, 0.1);
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
}

.filter-btn:hover {
  box-shadow: 0 0 2rem rgba(102, 252, 242, 0.5);
}

.filter-icon {
  color: #ddd;
  height: 2.4rem;
  width: 2.4rem;
}

.filter-arrs {
  margin-left: auto;
  position: relative;
  height: 2.4rem;
  width: 2.4rem;
}

.filter-arrow-down {
  opacity: 1;
  top: 0;
}

.filter-arrow-up {
  opacity: 0;
  top: 0rem;
}

.filter-arrow {
  transition: all 0.3s;

  position: absolute;
}

.filter-btn:hover .filter-arrow-down {
  top: 0.6rem;
}

.filter-btn:hover .filter-arrow-up {
  top: -0.6rem;
}

.filtering-options-box {
  position: absolute;
  left: 0;
  top: 120%;
  width: 30rem;
  background-color: #040405;
  box-shadow: 0 0 2rem rgba(102, 252, 242, 0.1);
  border-radius: 0 20px 0 20px;
  border: 1px solid #fff;
  padding: 3.2rem 1.6rem;
  transform-origin: top left;
  animation: filterExpand 0.6s ease-out;
  z-index: 5000;
}

.filter-inner-section {
  animation: 0.2s filterInnerSectionIn ease-out forwards;
  opacity: 0;
}

.filter-inner-section:first-child {
  animation-delay: 0.15s;
}
.filter-inner-section:nth-child(2) {
  animation-delay: 0.3s;
}
.filter-inner-section:nth-child(3) {
  animation-delay: 0.45s;
}

@keyframes filterInnerSectionIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes filterInnerSectionOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.filter-title {
  margin-bottom: 2rem;
  display: inline-block;
}

.filter-title::after {
  content: '';
  display: block;
  margin-top: 0.2rem;
  height: 0.5rem;
  background-color: #66fcf1;
  border-radius: 5px;
}

.filtering-option {
  display: block;
  position: relative;
  margin-bottom: 1.2rem;
  cursor: pointer;
}

.filtering-option:last-child {
  margin-bottom: 3.2rem;
}

.filtering-option .filtering-option--input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #66fcf1;
  transition: all 0.2s;
}

.filtering-option:hover .filtering-option--input ~ .checkmark {
  background-color: rgba(102, 252, 242, 0.403);
}

.filtering-option .filtering-option--input:checked ~ .checkmark {
  background-color: #66fcf1;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.filtering-option .filtering-option--input:checked ~ .checkmark:after {
  display: block;
}

.filtering-option .checkmark:after {
  left: 0.6rem;
  top: 0.2rem;
  width: 0.3rem;
  height: 1rem;
  border: solid black;
  border-width: 0 0.3rem 0.3rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 2px;
}

.filter-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5rem;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  position: relative;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.filter-slider::after {
  position: absolute;
  color: #ddd;
  right: 0;
  top: 1.2rem;
}

.filter-slider::before {
  content: '0';
  position: absolute;
  color: #ddd;
  left: 0;
  top: 1.2rem;
}

.filter-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #040405;
  border: 1px solid #66fcf1;
  box-shadow: inset 0 0 5px #ddd;
  cursor: pointer;
}

.filter-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

@keyframes filterExpand {
  0% {
    max-height: 0;
    max-width: 0;
    transform: scale(0);
  }
  100% {
    max-height: 52rem;
    max-width: 30rem;
    transform: scale(1);
  }
}

@keyframes filterReduce {
  0% {
    max-height: 52rem;
    max-width: 30rem;
    transform: scale(1);
  }
  100% {
    max-height: 0;
    max-width: 0;
    transform: scale(0);
  }
}

.search-box {
  position: relative;
  background-color: #040405;
  border-radius: 1rem;
  padding: 0 2.4rem;
  box-shadow: 0 0 2rem rgba(102, 252, 242, 0.1);
  transition: all 0.3s;
}

.search-box:hover {
  box-shadow: 0 0 2rem rgba(102, 252, 242, 0.5);
}

.search-box:has(> .search-bar:focus-visible) {
  box-shadow: 0 0 2rem rgba(102, 252, 242, 0.5);
}

.search-bar {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  background-color: #040405;
  caret-color: #ddd;
  color: #ddd;
  padding-right: 5rem;
}

.search-bar:focus-visible {
  outline-offset: 0;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 2.4rem;
  transform: translateY(-50%);
  transition: all 0.5s;
  animation-timing-function: ease-out;
}

.search-bar:focus-visible ~ .search-icon {
  left: calc(92% - 2.4rem);
}

.sort-by-box {
  background-color: #040405;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  box-shadow: 0 0 2rem rgba(102, 252, 242, 0.1);
}

.sort-by-box:hover {
  box-shadow: 0 0 2rem rgba(102, 252, 242, 0.5);
}

.sort-by {
  -webkit-appearance: none;
  appearance: none;
  background-color: #040405;
  color: #ddd;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.sort-by:focus-visible {
  outline: none;
  outline-offset: 0;
}

.sort-arrs {
  position: relative;
  height: 2.4rem;
  width: 2.4rem;
}

.sort-arr {
  position: absolute;
  right: 2.4rem;
  transition: all 0.3s;
}

.sort-arr-down {
  top: 0;
}

.sort-by-box:hover .sort-arr-down {
  top: 0.6rem;
}

/* //////////////////////////////////// */
/* Catalog section */
/* //////////////////////////////////// */

.all-cards-catalog__section {
  min-height: calc(100vh - 19.2rem);
}

.catalog-container {
  max-width: 140rem;
  /* background-color: beige; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  row-gap: 24rem;
  column-gap: 2rem;
  padding: 2.4rem 4.8rem 9.6rem 4.8rem;
  padding-top: 39rem;
}

.card-element-box {
  z-index: 1;
  position: relative;
  height: 31.7rem;
  width: 28rem;
  box-shadow: 0px 4px 20px rgba(102, 252, 241, 0.1);
  border-radius: 30px 30px 20px 20px;
  transition: all 0.3s;
}

.card-element-box[data-card-rarity='rare'] {
  background: linear-gradient(180deg, #572626 25%, #040405 75%);
  background-size: 100% 200%;
  background-position: 50% 100%;
}

.card-element-box:hover[data-card-rarity='rare'] {
  background-position: 50% 50%;
  box-shadow: 0px 0px 20px rgba(233, 116, 116, 0.4);
}

.card-element-box[data-card-rarity='legendary'] {
  background: linear-gradient(180deg, #61542e 25%, #040405 75%);
  background-size: 100% 200%;
  background-position: 50% 100%;
}

.card-element-box:hover[data-card-rarity='legendary'] {
  box-shadow: 0px 4px 20px rgba(239, 198, 52, 0.4);
  background-position: 50% 50%;
}

.card-element-box[data-card-rarity='epic'] {
  background: linear-gradient(180deg, #571e58 25%, #040405 75%);
  background-size: 100% 200%;
  background-position: 50% 100%;
}

.card-element-box:hover[data-card-rarity='epic'] {
  box-shadow: 0px 4px 20px rgba(234, 72, 237, 0.4);
  background-position: 50% 50%;
}

.perspective {
  perspective: 1200px;
}

.hero-catalog-card-img {
  height: 100%;
  width: 100%;
}

.card-3d-wrap {
  position: relative;
  width: 22rem;
  height: 30.809rem;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: all 0.5s ease-out;
  background-color: transparent;
}

.card-3d-wrap:hover {
  transform: rotateY(30deg) rotateX(-5deg) rotateZ(-5deg);
}

.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 0.7s ease-out;
  background-color: transparent;
}

.card-back {
  width: 100%;
  height: 100%;

  background-color: transparent;
  position: absolute;
  border-radius: 11px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  transform: rotateY(180deg);
}

.card-front {
  width: 100%;
  height: 100%;

  background-color: transparent;
  position: absolute;
  border-radius: 11px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotated {
  transform: rotateY(180deg);
}

.card {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
}

.card-catalog-info {
  padding-top: 50%;
  text-align: center;
}

.price {
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  padding: 1.6rem 0 2rem 0;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.card-element-gems-img {
  height: 3rem;
  width: auto;
}

.buy-button {
  display: block;
  margin: 0 auto;
  width: 90%;
  color: inherit;
  background-color: #000;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.9rem 0 0.9rem 0;
  font-size: 1.8rem;
  cursor: pointer;
  margin-bottom: 2.4rem;
  box-shadow: 0 0 0 transparent;
  transition: all 0.3s;
}

.buy-button:hover {
  box-shadow: 0 0 5px 0 #66FCF1;
  border: 1px solid #66FCF1;
  color: #66FCF1;
}

.charachter-link:link,
.charachter-link:visited {
  text-decoration: none;
  color: rgba(221, 221, 221, 0.8);
  font-size: 1.2rem;
  transition: all 0.3s;
}

.charachter-link:hover,
.charachter-link:active {
  color: #fff;
}

@media only screen and (max-width: 65em) {
  html {
    font-size: 56.25%;
  }

  .filtering-container {
    grid-template-columns: 1fr 1fr;
  }

  .search-box {
    grid-column: 1 / -1;
    grid-row: 1;
    height: 4.8rem;
  }

  .catalog-container {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 45rem;
  }
}

@media only screen and (max-width: 40em) {
  html {
    font-size: 50%;
  }

  .catalog-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
