* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  background-color: #0d1117;
  color: #ddd;
}

.container {
  max-width: 140rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  padding: 6.4rem;
  padding-top: 13.4rem;
  gap: 6.4rem;
  row-gap: 12.8rem;
  justify-items: center;
}

.banner {
  width: 32rem;
  height: 64rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 68%, 47% 100%, 0% 69%);
  display: flex;
  flex-direction: column;
  padding: 3.2rem 2.4rem;
  align-items: center;
}

.banner h2 {
  font-size: 3.6rem;
  display: inline-block;
  margin-bottom: 4.8rem;
  color: #fff;
  font-weight: 600;
  -webkit-text-stroke: 2px black;
  text-stroke: 2px black;
}

.banner p {
  font-size: 2.4rem;
  text-align: center;
  line-height: 1.6;
}

.icon {
  width: 14rem;
  height: 16rem;

  filter: drop-shadow(0 0px 3rem rgb(0, 0, 0));
  position: absolute;
  top: 37rem;
  transition: all 0.3s;
}

.icon-role {
  width: 14rem;

  filter: drop-shadow(0 0px 3rem rgb(0, 0, 0));
  position: absolute;
  top: 40rem;
}

.wrapper {
  filter: drop-shadow(0 10px 10px #7d7d7d21);
  transition: all 0.4s;
}

/* Rare banner */
.banner-rare {
  position: relative;
  background: #fc4343;
  z-index: -3;
}

.banner-rare::after {
  position: absolute;
  content: '';
  display: block;
  width: 31.75rem;
  height: 63.75rem;
  background: #0d1117;
  clip-path: inherit;
  left: 0.125rem;
  top: 0.125rem;
  z-index: -2;
}

.banner-rare::before {
  position: absolute;
  content: '';
  display: block;
  width: 31rem;
  height: 63rem;
  background: linear-gradient(to bottom, #140403, #450b0a, #7d1817, #270000);
  clip-path: inherit;
  /* (max width - this width) / 2 */
  left: 0.5rem;
  top: 0.5rem;
  z-index: -1;
}

.wrapper-rare:hover,
.wrapper-rare:hover .icon-rare {
  filter: drop-shadow(0 0px 35px #fc4343);
}

/* epic banner */
.banner-epic {
  background: #ec49ef;
  position: relative;
}

.banner-epic::after {
  position: absolute;
  content: '';
  display: block;
  width: 31.75rem;
  height: 63.75rem;
  background: #0d1117;
  clip-path: inherit;
  left: 0.125rem;
  top: 0.125rem;
  z-index: -2;
}

.banner-epic::before {
  position: absolute;
  content: '';
  display: block;
  width: 31rem;
  height: 63rem;
  background: linear-gradient(to bottom, #180418, #460b47, #590f5a, #000000);
  clip-path: inherit;
  /* (max width - this width) / 2 */
  left: 0.5rem;
  top: 0.5rem;
  z-index: -1;
}

.wrapper-epic:hover,
.wrapper-epic:hover .icon-epic {
  filter: drop-shadow(0 0px 35px #ec49ef);
}

/* legendary banner */

.banner-legendary {
  background: #efc634;
  position: relative;
}

.banner-legendary::after {
  position: absolute;
  content: '';
  display: block;
  width: 31.75rem;
  height: 63.75rem;
  background: #0d1117;
  clip-path: inherit;
  left: 0.125rem;
  top: 0.125rem;
  z-index: -2;
}

.banner-legendary::before {
  position: absolute;
  content: '';
  display: block;
  width: 31rem;
  height: 63rem;
  background: linear-gradient(
    to bottom,
    #231402,
    #705103,
    hsl(41, 89%, 31%),
    #261500
  );
  clip-path: inherit;
  /* (max width - this width) / 2 */
  left: 0.5rem;
  top: 0.5rem;
  z-index: -1;
}

.wrapper-legendary:hover,
.wrapper-legendary:hover .icon-legendary {
  filter: drop-shadow(0 0px 35px #efc634);
}

/* tank banner */

.banner-tank {
  background: #7c87e9;
  position: relative;
}

.banner-tank::after {
  position: absolute;
  content: '';
  display: block;
  width: 31.75rem;
  height: 63.75rem;
  background: #0d1117;
  clip-path: inherit;
  left: 0.125rem;
  top: 0.125rem;
  z-index: -2;
}

.banner-tank::before {
  position: absolute;
  content: '';
  display: block;
  width: 31rem;
  height: 63rem;
  background: linear-gradient(to bottom, #09081f, #5164a9, #495378, #0b0a2a);
  clip-path: inherit;
  /* (max width - this width) / 2 */
  left: 0.5rem;
  top: 0.5rem;
  z-index: -1;
}

.wrapper-tank:hover,
.wrapper-tank:hover .icon-tank {
  filter: drop-shadow(0 0px 35px #7c87e9);
}

/* support banner */
.banner-support {
  background: #49ef5a;
  position: relative;
}

.banner-support::after {
  position: absolute;
  content: '';
  display: block;
  width: 31.75rem;
  height: 63.75rem;
  background: #0d1117;
  clip-path: inherit;
  left: 0.125rem;
  top: 0.125rem;
  z-index: -2;
}

.banner-support::before {
  position: absolute;
  content: '';
  display: block;
  width: 31rem;
  height: 63rem;
  background: linear-gradient(to bottom, #020e04, #47754c, #688969, #001400);
  clip-path: inherit;
  /* (max width - this width) / 2 */
  left: 0.5rem;
  top: 0.5rem;
  z-index: -1;
}

.wrapper-support:hover,
.wrapper-support:hover .icon-support {
  filter: drop-shadow(0 0px 35px #49ef5a);
}

/* burst-dealer banner */
.banner-burst {
  background: #e37e06;
  position: relative;
}

.banner-burst::after {
  position: absolute;
  content: '';
  display: block;
  width: 31.75rem;
  height: 63.75rem;
  background: #0d1117;
  clip-path: inherit;
  left: 0.125rem;
  top: 0.125rem;
  z-index: -2;
}

.banner-burst::before {
  position: absolute;
  content: '';
  display: block;
  width: 31rem;
  height: 63rem;
  background: linear-gradient(to bottom, #3d1702, #8f2f03, #b75e31, #180900);
  clip-path: inherit;
  /* (max width - this width) / 2 */
  left: 0.5rem;
  top: 0.5rem;
  z-index: -1;
}

.wrapper-burst:hover,
.wrapper-burst:hover .icon-burst {
  filter: drop-shadow(0 0px 35px #e37e06);
}

/* -------------MEDIA QUERIES------------- */

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 68.2em) {
  /* html {
    font-size: 50%;
  } */

  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper-legendary {
    grid-column: 1 / -1;
  }
  .wrapper-burst {
    grid-column: 1 / -1;
  }
}

@media only screen and (max-width: 48em) {
  html {
    font-size: 50%;
  }
  .container {
    grid-template-columns: 1fr;
  }
}
