.filtering-options-box-collection {
  position: absolute;
  left: 0;
  top: 120%;
  width: 30rem;
  background-color: #040405;
  box-shadow: 0 0 2rem rgba(102, 252, 242, 0.1);
  border-radius: 0 20px 0 20px;
  border: 1px solid #fff;
  padding: 3.2rem 1.6rem 0.8rem 1.6rem;
  transform-origin: top left;
  animation: filterExpand 0.6s ease-out;
  z-index: 5000;
}

.card-element-box.card-element-box-collection {
  /* height: 100%; */
  height: 15rem;
  width: 28rem;
}

.card.card-collection {
  top: -145%;
}

.card-catalog-info.catalog-info-collection {
  padding-top: 40%;
}

.catalog-container.catalog-collection {
  padding-top: 45rem;
  row-gap: 30rem;
}

.collection-slider {
  display: none;
}

@media only screen and (max-width: 65em) {
  .catalog-container.catalog-collection {
    padding-top: 50rem;
  }
}
