.purchase-open-modal {
  width: 50rem;
  text-align: center;
  color: white;
  margin: 35rem auto;
  cursor: pointer;
  font-size: 10rem;
  z-index: 1;
}

/* OVERLAY*/

.confirmation-modal-overlay {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONFIRMATION MODAL */

.purchase-confirmation-modal {
  background-color: rgba(4, 4, 5, 1);
  margin: 0 auto;
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 2.8rem;
  padding: 5rem;
  border: rgba(102, 252, 241, 1) solid;
  border-width: 0.1rem;
  border-radius: 1rem;
}

.purchase-confirmation-close-modal {
  top: 1.5rem;
  right: 1.5rem;
  position: absolute;
  font-size: 3rem;
  color: rgba(102, 252, 241, 1);
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.purchase-confirmation-modal-info {
  font-size: 3.6rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.purchase-confirm-btn {
  margin: 7rem auto 0;
  position: relative;
  font-size: 3rem;
  color: black;
  font-weight: 700;
  cursor: pointer;
  background-color: rgba(102, 252, 241, 0.8);
  border: rgb(253, 254, 254, 1) solid;
  border-width: 0.1rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
  display: block;
  width: 90%;
  transition: box-shadow 0.3s ease-in-out;
}

.purchase-confirm-btn:hover {
  margin: 7rem auto 0;
  position: relative;
  font-size: 3rem;
  color: black;
  font-weight: 700;
  cursor: pointer;
  background-color: rgba(102, 252, 241, 0.8);
  border: rgb(253, 254, 254, 1) solid;
  border-width: 0.1rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
  display: block;
  width: 90%;
  box-shadow: 0 0 15px rgba(255, 255, 255, 1);
}

.purchase-cancel-btn {
  margin: 2.5rem auto 0;
  position: relative;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: white solid;
  border-width: 0.1rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
  display: block;
  width: 90%;
  transition: box-shadow 0.3s ease-in-out;
}

.purchase-cancel-btn:hover {
  margin: 2.5rem auto 0;
  position: relative;
  font-size: 3rem;
  color: rgba(102, 252, 241, 0.8);
  cursor: pointer;
  background-color: transparent;
  border: rgba(102, 252, 241, 0.4) solid;
  border-width: 0.1rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
  display: block;
  width: 90%;
  box-shadow: 0 0 10px rgba(102, 252, 241, 0.6);
}

/* PURCHASE CONFIRMED INFO */

.purchase-confirmed-modal {
  border: rgba(102, 252, 241, 1) solid;
  border-width: 0.1rem;
  border-radius: 1rem;
  line-height: 7rem;
  padding: 5rem;
  font-size: 3rem;
  background-color: rgba(4, 4, 5, 1);
  margin: 0 auto;
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* PURCHASE CANCELED INFO*/

.purchase-canceled-modal {
  border: rgba(102, 252, 241, 1) solid;
  border-width: 0.1rem;
  border-radius: 1rem;
  line-height: 7rem;
  padding: 5rem;
  font-size: 3rem;
  background-color: rgba(4, 4, 5, 1);
  margin: 0 auto;
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* DISPLAY NONE */

.confirmation-modal-overlay-hidden {
  display: none;
}

.purchase-confirmation-modal-hidden {
  display: none;
}

.purchase-confirm-info-hidden {
  display: none;
}

.purchase-cancel-info-hidden {
  display: none;
}
