a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

.header-btn-hidden {
  opacity: 0 !important;
  pointer-events: none !important;
  visibility: hidden !important;
}

.no-display {
  display: none !important;
}

.container-header {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 4.8rem;
  position: relative;
}

.header {
  position: fixed;
  height: 7rem;
  width: 100vw;
  background-color: #040405;
  top: 0;
  padding: 1.2rem 0;
  z-index: 8000;
}

.header__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.menu-nav {
  padding: 0.4rem 0;
  border: none;
  background-color: transparent;
  position: relative;
}

.header__grid--left .menu-icon {
  height: 3.8rem;
  width: 3.8rem;
  cursor: pointer;
  transition: all 0.4s;
}

.menu-filled {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -0.2rem;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.4s;
}

.menu-icon:hover ~ .menu-filled {
  opacity: 1;
}

.menu-icon:hover {
  opacity: 0;
}

.header__menu-popup {
  position: absolute;
  background-color: #040405;
  top: 7.2rem;
  left: 1.6rem;
  border-radius: 0 20px 0 20px;
  border: 1px solid #fff;
  overflow: hidden;
  z-index: 9999;
}

.header__menu-popup ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.header__menu--item {
  color: #fff;
  font-size: 1.8rem;
  padding: 1.2rem 4rem 1.2rem 2.4rem;
  opacity: 0;
  width: max-content;
}

.header__menu--item:nth-child(2) {
  animation-delay: 0.1s;
}
.header__menu--item:nth-child(3) {
  animation-delay: 0.2s;
}
.header__menu--item:nth-child(4) {
  animation-delay: 0.3s;
}
.header__menu--item:last-child {
  animation-delay: 0.4s;
}

.header__menu--item:first-child {
  padding-top: 2rem;
  border-radius: 0 20px 0 0;
}

.header__menu--item:last-child {
  padding-bottom: 2rem;
  border-radius: 0 0 0 20px;
}

.header__menu--item a:link,
.header__menu--item a:visited {
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  position: relative;
  color: inherit;
  text-decoration: none;
  transition: all 0.4s;
  left: 0;
}

.header__menu--item a:hover,
.header__menu--item a:active {
  background-color: #302e2e;
  left: 0.8rem;
}

.header__menu--item a:link::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  box-shadow: 0 8px 0 0 transparent;
}

.header__menu--item a:hover::after {
  box-shadow: 0 8px 0 0 #66fcf1;
  transform: scaleX(1);
}

.menuExpand {
  animation: menuExpand 0.6s ease-out;
}

@keyframes menuExpand {
  0% {
    max-height: 0;
    max-width: 0rem;
    border-radius: 5rem;
  }
  100% {
    max-height: 25rem;
    max-width: 18rem;
  }
}

@keyframes menuReduce {
  0% {
    max-height: 25rem;
    max-width: 18rem;
  }
  100% {
    max-width: 0rem;
    max-height: 0;
    border-radius: 5rem;
  }
}

.menuItemToRight {
  animation: menuItemToRight 0.6s ease-out forwards;
}

@keyframes menuItemToRight {
  0% {
    transform: translateX(-7.2rem) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes menuItemToLeft {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateX(-7.2rem);
    opacity: 0;
  }
}

.header-icon {
  color: #fff;
}

.logo {
  display: grid;
  align-items: center;
  gap: 0.8rem;
  grid-template-columns: 6fr 4fr;
}

.header__grid--center a:link,
.header__grid--center a:visited {
  display: inline-block;
  margin-left: auto;
  width: fit-content;
  color: #fff;
  text-decoration: none;
  font-family: 'Geo', sans-serif;
  font-size: 4.4rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 0.95;
  text-align: right;
}

.logo-img {
  height: 3.2rem;
}

.header__grid--right {
  padding-top: 1.2rem;
  align-self: start;
}

.account--nav {
  float: right;
  display: flex;
  gap: 2.4rem;
}

.account--nav-el:first-child {
  height: 1.8rem;
}

.account--nav-el {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  text-align: center;
  cursor: pointer;
}

.account--nav-el:first-child {
  display: none;
}

.logged-in .account--nav-el:first-child {
  display: block;
}

.account--nav-el::after {
  content: '';
  display: block;
  height: 0.5rem;
  border-radius: 0.5rem;
  transform: scaleX(0);
  transition: all 0.3s;
  background-color: transparent;
}

.account--nav-icon {
  width: 100%;
  height: 100%;
}

.icon-outline {
  transition: all 0.3s;
}

.icon-filled {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all 0.3s;
}

.account--nav-el:hover .icon-outline {
  opacity: 0;
}

.account--nav-el:hover .icon-filled {
  opacity: 1;
}

.account--nav-el:hover::after {
  background-color: #66fcf1;
  transform: scaleX(1);
}

.account--menu-default {
  text-align: left;
  position: absolute;
  top: 7.2rem;
  right: 1.4rem;
  background-color: #040405;
  border: 1px solid #fff;
  border-radius: 20px 0 20px 0;

  font-size: 1.8rem;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.account--menu-box {
  padding: 1.2rem 4rem 1.2rem 2.4rem;
  width: max-content;
}

.account--menu-box:first-child {
  padding-top: 2rem;
}

.account--menu-box:nth-child(2) {
  padding-bottom: 2rem;
  animation-delay: 0.1s;
}

.account--menu-box:nth-child(3) {
  padding-top: 2rem;
}

.account--menu-box:nth-child(4) {
  animation-delay: 0.1s;
}

.account--menu-box:last-child {
  padding-bottom: 2rem;
  animation-delay: 0.2s;
}

.logged-in .log-sign-btn {
  display: none;
}

.account-item {
  display: none;
}

.logged-in .account-item {
  display: block;
}

.account--menu-item {
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.4s;
  position: relative;
  width: max-content;
  left: 0;
  /* color: #fff; */
}

.account--menu-item:hover {
  background-color: #302e2e;
  left: 0.8rem;
}

.account--menu-box:last-child {
  color: rgba(255, 0, 0, 0.671);
}

.account--menu-item::after {
  content: '';
  display: block;
  position: absolute;

  width: 100%;
  right: 0;
  transform: scaleX(0);
  height: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  box-shadow: 0 8px 0 0 transparent;
}

.account--menu-item:hover:after {
  box-shadow: 0 8px 0 0 #66fcf1;
  transform: scaleX(1);
}

.account--menu-box:last-child .account--menu-item:hover:after {
  box-shadow: 0 8px 0 0 rgba(255, 0, 0, 0.671);
}

.accMenuExpand {
  animation: accMenuExpand 0.6s ease-out;
}

@keyframes accMenuExpand {
  0% {
    max-height: 0;
    max-width: 0;
    border-radius: 5rem;
  }
  100% {
    max-height: 16rem;
    max-width: 16.5rem;
  }
}

@keyframes accMenuReduce {
  0% {
    max-height: 16rem;
    max-width: 16.5rem;
  }
  100% {
    max-width: 0;
    max-height: 0;
    border-radius: 5rem;
  }
}

.accMenuItemToLeft {
  animation: accMenuItemToLeft 0.6s ease-out;
}

@keyframes accMenuItemToLeft {
  0% {
    transform: translateX(1.2rem) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes accMenuItemToRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1.2rem);
    opacity: 0;
  }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 37.5em) {
  .container-header {
    padding: 0 2.4rem;
  }
}
