.modal-close {
  width: 98%;
  display: flex;
  justify-content: flex-end;
}

.modal-close button {
  font-size: 3.5rem;
  padding: 0 0.5rem;
  margin: auto 0;
  color: #fff;
  background-color: rgba(13, 17, 23, 1);
  border: none;
  transition: all 0.3s;
}

.modal-close button:hover {
  cursor: pointer;
  color: #66fcf1;
}
/* Signup Modal */

.signup-modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease-in-out;
  z-index: 10;
  border: 1px rgba(102, 252, 241, 1) solid;
  border-radius: 1rem;
  width: 53rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 1rem 0rem;
  background: rgba(13, 17, 23, 1);
  box-shadow: 0 0 1rem rgba(127, 255, 212, 0.53);
}

.signup-modal-content.active {
  transform: translate(-50%, -50%) scale(1);
}

#signup-modal-title,
.signup-modal-inputs {
  width: 40rem;
}

#signup-modal-title {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 1rem;
}

#signup-modal-logo {
  height: 3rem;
}

.signup-modal-username-field,
.signup-modal-email-field,
.signup-modal-password-field {
  font-size: 2.1rem;
  margin-top: 2rem;
  letter-spacing: 0.1rem;
}

.signup-modal-username-field label,
.signup-modal-email-field label,
.signup-modal-password-field label {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}
#signup-modal-username,
#signup-modal-email,
#signup-modal-password {
  width: 40rem;
  height: 4.7rem;
  font-size: 2.1rem;
  border-radius: 1rem;
  /* background-color: #040405; */
  /* border:1px solid #fff; */
  background-color: #fff;
  margin-top: 0.2rem;
  padding: 0.5rem 0.5rem;
  outline: none;
  padding: 1rem 1rem 0.5rem 1rem;
}

.signup-modal-showPassword-field {
  font-size: 2rem;
  padding-left: 0.2rem;
  margin-top: 3rem;
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
}

#signup-modal-showPassword {
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.signup-modal-signup-submit {
  font-size: 200%;
  height: 6rem;
  margin-top: 2rem;
  /* height:3.5rem; */
}

#signup-modal-submit-button {
  width: 100%;
  height: 4.5rem;
  margin-bottom: 2.4rem;
  background: rgba(0, 0, 0, 0.5);
  border-width: 0.1rem;
  border-color: white;
  border-radius: 0.6rem;
  cursor: pointer;
  caret-color: black;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  transition: all 0.3s ease-in-out;
}

#signup-modal-submit-button:hover {
  width: 100%;
  height: 4.5rem;
  margin-bottom: 2.4rem;
  background: rgba(0, 0, 0, 0.5);
  border-width: 0.1rem;
  border-color: rgba(102, 252, 241, 1);
  border-radius: 0.6rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  color: rgba(102, 252, 241, 1);
  box-shadow: 0 0 5px 0 rgba(102, 252, 241, 1);
}

.signup-modal-already {
  display: flex;
  justify-content: center;
  margin: auto 0;
  font-size: 175%;
}

.signup-modal-already a {
  text-decoration: none;
  margin-left: 0.5rem;
  color: #66fcf1;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.signup-modal-already a:hover {
  border-bottom: 2px solid #66fcf1;
}

#signup-modal-overlay {
  position: fixed;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  filter: blur(100%);
  transition: all 0.3s ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

#signup-modal-overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* Login Modal */

#login-modal-overlay {
  position: fixed;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  filter: blur(100%);
  transition: all 0.3s ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

#login-modal-overlay.active {
  opacity: 1;
  pointer-events: all;
}

.login-modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease-in-out;
  z-index: 10;
  border: 1px rgba(102, 252, 241, 1) solid;
  border-radius: 1rem;
  width: 53rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 1rem 0rem;
  background: rgba(13, 17, 23, 1);
  box-shadow: 0 0 1rem rgba(127, 255, 212, 0.53);
}

.login-modal-content.active {
  transform: translate(-50%, -50%) scale(1);
}

#login-modal-title,
.login-modal-inputs {
  width: 40rem;
}

#login-modal-title {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 1rem;
}

#login-modal-logo {
  height: 3rem;
}

.login-modal-username-field,
.login-modal-password-field {
  font-size: 2.1rem;
  margin-top: 2rem;
  letter-spacing: 0.1rem;
}
.login-modal-username-field label,
.login-modal-password-field label {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}
#login-modal-username,
#login-modal-password {
  width: 40rem;
  height: 4.7rem;
  font-size: 2.1rem;
  border-radius: 1rem;
  /* background-color: #040405; */
  /* border:1px solid #fff; */
  background-color: #fff;
  margin-top: 0.2rem;
  padding: 0.5rem 0.5rem;
  outline: none;
  padding: 1rem 1rem 0.5rem 1rem;
}

/* .login-modal-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
} */

.login-modal-showPassword-field,
.login-modal-remember-field {
  font-size: 2rem;
  padding-left: 0.2rem;
  margin-top: 3rem;
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
}

#login-modal-showPassword,
#login-modal-remember {
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-bottom: 0.4rem;
}

.login-modal-button-elem {
  font-size: 200%;
  height: 6rem;
  /* height:3.5rem; */
  margin-top: 3rem;
}

#login-modal-login-btn {
  width: 100%;
  height: 4.5rem;
  margin-bottom: 2.4rem;
  background: rgba(0, 0, 0, 0.5);
  border-width: 0.1rem;
  border-color: white;
  border-radius: 0.6rem;
  cursor: pointer;
  caret-color: black;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  transition: all 0.3s ease-in-out;
}

#login-modal-login-btn:hover {
  width: 100%;
  height: 4.5rem;
  margin-bottom: 2.4rem;
  background: rgba(0, 0, 0, 0.5);
  border-width: 0.1rem;
  border-color: rgba(102, 252, 241, 1);
  border-radius: 0.6rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  color: rgba(102, 252, 241, 1);
  box-shadow: 0 0 5px 0 rgba(102, 252, 241, 1);
}

.login-modal-noAccount {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  font-size: 175%;
}

.login-modal-noAccount a {
  text-decoration: none;
  margin-left: 0.5rem;
  color: #66fcf1;
  border-bottom: 2px solid transparent;
}

.login-modal-noAccount a:hover {
  border-bottom: 2px solid #66fcf1;
  transition: all 0.3s;
}

@media only screen and (max-width: 37.5em) {
  .login-modal-content {
    width: 42rem;
  }

  .login-modal-username-field,
  .login-modal-password-field {
    padding: 0 3.7rem;
  }

  .login-modal-showPassword-field {
    padding-left: 4rem;
  }

  .login-modal-button-elem {
    width: 32.6rem;
    margin: 0 auto;
  }

  #login-modal-username,
  #login-modal-password {
    width: 32rem;
  }

  .signup-modal-content {
    width: 42rem;
  }

  .signup-modal-username-field,
  .signup-modal-password-field {
    padding: 0 3.7rem;
  }

  .signup-modal-showPassword-field {
    padding-left: 4rem;
  }

  .signup-modal-signup-submit {
    width: 32.6rem;
    margin: 0 auto;
  }

  #signup-modal-username,
  #signup-modal-password {
    width: 32rem;
  }
}

/* ************* ALERT MODALS STYLING ************* */
.alert-modal {
  background-color: #040405;
  line-height: 1.3;
  letter-spacing: 1px;
  width: 40rem;
  height: 20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -130%);
  position: absolute;
  z-index: 9999;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #66fcf2;
  color: #66FCF1;
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.alert-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 9999999999999;
  position: fixed;
  top: 0;
  backdrop-filter: blur(0.4rem);
}

.alert-hidden {
  display: none;
}

.alert-modal-close-btn {
  top: 0.3rem;
  right: 0.4rem;
  position: absolute;
  font-size: 3rem;
  color: #66fcf1;
  float: right;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

