* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  background-color: #0d1117;
  color: #ddd;
}

/* ///////////////////////////// */
/* HERO SECTION */
/* ///////////////////////////// */

.hero__section {
  /* height: 70rem; */
  max-width: 140rem;
  margin: 0 auto;
  padding: 12.8rem 4.8rem 4.8rem 4.8rem;
  /* background-color: antiquewhite; */
}

.hero {
  width: 100%;
  height: 100%;
  background-color: #66fcf1;
}

.logo-phrase {
  font-size: 2.2rem;
  letter-spacing: 1px;
  text-align: center;
}

.main-anim-cards {
  top: 50px;
  position: relative;
  height: 37.811rem;
  margin-bottom: 9.6rem;
}

.card {
  border-radius: 10px;
  transition: all 1s;
  overflow: hidden;
  box-shadow: 0 0 10rem rgba(221, 221, 221, 0.2);
}

/*  Animation delay for all positions in main animated cards, exsept seven'th.
    Style for all kinds of cards in the main animation*/

.fifth-card {
  animation-delay: -16s;
}

.sixth-card {
  animation-delay: -20s;
}

.seventh-card {
  animation-delay: -24s;
}

.first-card {
  /* No animation delay need */
}

.second-card {
  animation-delay: -4s;
}

.third-card {
  animation-delay: -8s;
}

.forth-card {
  animation-delay: -12s;
}

/* Animation delay for seven'th position in main animated cards */

#p7-n1 {
  animation-delay: -20s;
}

#p7-n2 {
  animation-delay: -16s;
}

#p7-n3 {
  animation-delay: -12s;
}

#p7-n4 {
  animation-delay: -8s;
}

#p7-n5 {
  animation-delay: -4s;
}

#p7-n6 {
  animation-delay: 0s;
}

#p7-n7 {
  animation-delay: -24s;
}

.main-anim-img {
  width: 100%;
}

/*   Styling first positioned cards in the main animation   */

.card-p1 {
  height: 21.006rem;
  width: 15rem;
  left: 20%;
  transform: translateX(-50%);
  position: absolute;
  top: calc((37.811rem - 21.006rem) / 2);
  z-index: 0;
  animation-name: cardSwitch-p1;
  animation-duration: 28s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.81, -0.1, 0.29, 1.19);
}

/*   Styling second positioned cards in the main animation   */

.card-p2 {
  height: 23.807rem;
  width: 17rem;
  left: 28%;
  transform: translateX(-50%);
  position: absolute;
  top: calc((37.811rem - 23.807rem) / 2);
  z-index: 1;
  animation-name: cardSwitch-p2;
  animation-duration: 28s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.81, -0.1, 0.29, 1.19);
}

/*   Styling third positiond cards in the main animation   */

.card-p3 {
  height: 30.809rem;
  width: 22rem;
  left: 38%;
  transform: translateX(-50%);
  position: absolute;
  top: calc((37.811rem - 30.809rem) / 2);
  z-index: 2;
  animation-name: cardSwitch-p3;
  animation-duration: 28s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.81, -0.1, 0.29, 1.19);
}

/*   Styling forth positiond cards in the main animation   */

.card-p4 {
  height: 37.811rem;
  width: 27rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 0;
  z-index: 4;
  animation-name: cardSwitch-p4;
  animation-duration: 28s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.81, -0.1, 0.29, 1.19);
}

/*   Styling fifht positiond cards in the main animation   */

.card-p5 {
  height: 30.809rem;
  width: 22rem;
  left: 62%;
  transform: translateX(-50%);
  position: absolute;
  top: calc((37.811rem - 30.809rem) / 2);
  z-index: 3;
  animation-name: cardSwitch-p5;
  animation-duration: 28s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.81, -0.1, 0.29, 1.19);
}

/*   Styling sixth positiond cards in the main animation   */

.card-p6 {
  height: 23.807rem;
  width: 17rem;
  left: 72%;
  transform: translateX(-50%);
  position: absolute;
  top: calc((37.811rem - 23.807rem) / 2);
  z-index: 2;
  animation-name: cardSwitch-p6;
  animation-duration: 28s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.81, -0.1, 0.29, 1.19);
}

/*   Styling seventh positiond cards in the main animation   */

.card-p7 {
  height: 21.006rem;
  width: 15rem;
  left: 80%;
  transform: translateX(-50%);
  position: absolute;
  top: calc((37.811rem - 21.006rem) / 2);
  z-index: 1;
  animation-name: cardSwitch-p7;
  animation-duration: 28s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.81, -0.1, 0.29, 1.19);
}

/*   Animation for first positioned cards   */

@keyframes cardSwitch-p1 {
  0% {
    opacity: 0;
    scale: 1;
  }
  13.5% {
    opacity: 1;
    scale: 1.02;
  }
  25% {
    opacity: 0;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 1;
  }
}

/*   Animation for second positioned cards   */

@keyframes cardSwitch-p2 {
  0% {
    opacity: 0;
  }
  13.5% {
    opacity: 0;
    scale: 1;
  }
  27% {
    opacity: 1;
    scale: 1.02;
  }
  38.5% {
    opacity: 0;
    scale: 1;
  }
  100% {
    opacity: 0;
  }
}

/*   Animation for third positioned cards   */

@keyframes cardSwitch-p3 {
  0% {
    opacity: 0;
  }

  27% {
    opacity: 0;
    scale: 1;
  }
  40.5% {
    opacity: 1;
    scale: 1.02;
  }
  52% {
    opacity: 0;
    scale: 1;
  }

  100% {
    opacity: 0;
  }
}

/*   Animation for forht positioned cards   */

@keyframes cardSwitch-p4 {
  0% {
    opacity: 0;
  }

  40.5% {
    opacity: 0;
    scale: 1;
  }
  54% {
    opacity: 1;
    scale: 1.02;
  }
  65.5% {
    opacity: 0;
    scale: 1;
  }

  100% {
    opacity: 0;
  }
}

/*   Animation for fifth positioned cards   */

@keyframes cardSwitch-p5 {
  0% {
    opacity: 0;
  }

  54% {
    opacity: 0;
    scale: 1;
  }
  67.5% {
    opacity: 1;
    scale: 1.02;
  }
  79% {
    opacity: 0;
    scale: 1;
  }

  100% {
    opacity: 0;
  }
}

/*   Animation for sixth positioned cards   */

@keyframes cardSwitch-p6 {
  0% {
    opacity: 0;
  }

  67.5% {
    opacity: 0;
    scale: 1;
  }
  81% {
    opacity: 1;
    scale: 1.02;
  }
  92.5% {
    opacity: 0;
    scale: 1;
  }
  100% {
    opacity: 0;
  }
}

/*   Animation for seventh positioned cards   */

@keyframes cardSwitch-p7 {
  0% {
    opacity: 0;
  }

  55.55% {
    opacity: 0;
    scale: 1;
  }
  66.66% {
    opacity: 1;
    scale: 1.02;
  }
  76.77% {
    opacity: 0;
    scale: 1;
  }

  100% {
    opacity: 0;
  }
}

.hero-des-box {
  border-top: 1px solid rgba(221, 221, 221, 0.6);
  border-bottom: 1px solid rgba(221, 221, 221, 0.6);
  text-align: center;
  font-size: 2.2rem;
  padding: 3.2rem 9.6rem;
}

.hero-des-text {
  line-height: 1.6;
}

/* ******************* INFO-ROW ******************* */

.main--section-info {
  padding: 4.8rem 0;
  padding-bottom: 6.4rem;
}

.main--info-row {
  max-width: 140rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 6.4rem;
  margin: 0 auto;
  padding: 0 4.8rem;
}

.main--info-icon {
  height: 3.2rem;
  width: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
  background-color: #66fcf1; /* 0% */
  color: #143230; /* 80% */
  margin-bottom: 3.2rem;
}

.main--info-heading {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  color: #fff;
}

.main--info-text {
  font-size: 1.8rem;
  line-height: 1.2;
}

/* ******************* CARD AD SECTION ******************* */

.main--section-card-ad {
  padding: 4.8rem 0;
  padding-bottom: 8rem;
}

.main--card-ad {
  max-width: 140rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 6.4rem;
  margin: 0 auto;
  padding: 0 4.8rem;
}

.main--card-ad-img {
  height: 44rem;
  width: 100%;
  border-radius: 20px;
}

.main--card-ad-textbox {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 2.4rem;
  position: relative;
}

.main--card-ad-text {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.8;
}

.main--card-ad-heading {
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3.2rem;
}

.main--card-ad-btn:link,
.main--card-ad-btn:visited {
  text-decoration: none;
  background-color: black;
  border: 1px solid #fff;
  color: #fff;
  font-size: 2.4rem;
  padding: 2.4rem 4.5rem;
  border-radius: 10px;
  position: absolute;
  bottom: -3.75rem;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
}

.main--card-ad-btn:hover,
.main--card-ad-btn:active {
  box-shadow: 0 0 5px 0 rgba(102, 252, 241, 1);
  border: 1px solid rgba(102, 252, 241, 1);
  color: rgba(102, 252, 241, 1);
}

/* ******************* GAME CTA SECTION ******************* */

.main--section-game-cta {
  padding: 4.8rem 0;
  padding-bottom: 12.8rem;
}

.main--game-cta {
  margin: 0 auto;
  max-width: 140rem;
  height: 72rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/Images/Background-visuals/Gold-game-background.webp');
  border-radius: 20px;
  background-size: cover;

  position: relative;
}

.main-game-cta-img {
  background-image: url('/Images/Background-visuals/Gold-game-background.webp');
  border-radius: 20px;
  background-size: cover;

  width: 95%;
  height: 95%;
  box-shadow: 0 0rem 2.8rem rgba(0, 0, 0, 0.99);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 3.2rem;
}

.main--game-cta-cards {
  margin-top: 3.2rem;
}

.main--game-cta-card {
  transform: rotate(-35deg);
  max-width: 20rem;
}

.main--game-cta-btn:link,
.main--game-cta-btn:visited {
  text-decoration: none;

  padding: 2.4rem 4.8rem;
  background-color: rgba(207, 149, 3, 0.75);
  border: 3px solid #000;
  font-family: 'Wallpoet', cursive;
  /* box-shadow: 0 0rem 2.8rem rgba(0, 0, 0, 0.99); */
  max-width: 48rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-size: 5.2rem;
  -webkit-text-stroke: 2px #000000;
  text-stroke: 2px #000000;
  text-shadow: 0 0rem 2.8rem rgba(0, 0, 0, 0.99);
  transition: all 0.5s;
  border-radius: 15px;
}

.main--game-cta-btn:hover,
.main--game-cta-btn:active {
  background-color: rgba(207, 149, 3, 1);
  box-shadow: 0 0rem 2.8rem rgba(0, 0, 0, 0.99);
}

/* MEDIA QUERIES */

/* |||||||||||  1350PX  ||||||||||||||| */

@media (max-width: 84.375em) {
  html {
    font-size: 48.2%;
  }
}

/* |||||||||||  1100PX  ||||||||||||||| */

@media (max-width: 68.75em) {
  html {
    font-size: 40%;
  }

  .main-anim-cards {
    margin-bottom: 15rem;
  }
}

/* |||||||||||  900PX  ||||||||||||||| */

@media (max-width: 56.25em) {
  html {
    font-size: 32%;
  }
}

/* |||||||||||  700PX  ||||||||||||||| */

@media (max-width: 43.75em) {
  .main--info-row {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 10% 0 10%;
    column-gap: 20rem;
    font-size: 14rem;
  }

  .main--card-ad {
    display: flex;
    flex-direction: column;
    max-width: 90rem;
  }

  .main--card-ad-img {
    height: auto;
    margin-bottom: 7rem;
    order: 2;
  }

  .main--card-ad-textbox {
    padding: 2.4rem;
    height: 45rem;
    order: 1;
  }

  .main--game-cta {
    background-position: center;
    max-width: 90%;
  }

  .main-game-cta-img {
    max-width: 90%;
    background-position: center;
  }
}

/* |||||||||||  500PX  ||||||||||||||| */

@media (max-width: 31.25em) {
  html {
    font-size: 24%;
  }

  .main-anim-cards {
    margin-bottom: 20rem;
  }
}
