.cut {
  height: 300px;
  background: red;
  position: relative;
}

.cut:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 80px solid white;
  border-left: 80px solid red;
  width: 0;
}
