* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img {
  height: 100%;
  width: 100%;
}

.card-3d-wrap {
  position: relative;
  width: 250px;
  max-width: 100%;
  height: 350px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}

.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 1.1s ease-out;
}

.card-back {
  width: 100%;
  height: 100%;
  background-color: #464975;
  position: absolute;
  border-radius: 6px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  width: 100%;
  height: 100%;
  background-color: #b3b4c9;
  position: absolute;
  border-radius: 6px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}

/* This is going to be in js code  */
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}

/* Class for the js code for these elements: .card-3d-wrap .card-3d-wrapper */
/* .rotated{
  transform: rotateY(180deg);
} */
