<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <!-- ///////////////////////////// -->
      <!-- ALERT MODAL AND OVERLAY START -->
      <!-- ///////////////////////////// -->
  <div class="alert-overlay alert-hidden">
    <div class="alert-modal alert-hidden">
      <button class="alert-modal-close-btn">
        <ion-icon name="close"></ion-icon>
      </button>
      <p>
        Test
      </p>
    </div>
  </div>
     <!-- ///////////////////////////// -->
      <!-- ALERT MODAL AND OVERLAY END -->
      <!-- ///////////////////////////// -->

</body>
</html>