<footer class="footer">
  <div class="footer-container">
    <div class="footer-links-container">
      <a href="./aboutus.html" class="footer-links footer-links-text"
        >About us</a
      >
    </div>
    <div class="footer-links-container">
      <a
        href="#"
        data-modal-target-footer="#main--email-container"
        class="footer-links footer-links-text"
        >Contact us</a
      >
    </div>
    <div class="footer-links-container">
      <a href="#" class="footer-links footer-links-text"
        >General terms and conditions</a
      >
    </div>
    <div class="footer-icons-container">
      <a
        target="_blank"
        href="https://www.instagram.com/leagueoflegends/?hl=en"
        class="footer-links"
        ><ion-icon name="logo-instagram" class="footer-icon"></ion-icon
      ></a>
      <a
        target="_blank"
        href="https://twitter.com/LeagueOfLegends"
        class="footer-links"
        ><ion-icon name="logo-twitter" class="footer-icon"></ion-icon
      ></a>
      <a
        target="_blank"
        href="https://www.facebook.com/leagueoflegends/"
        class="footer-links"
        ><ion-icon name="logo-facebook" class="footer-icon"></ion-icon
      ></a>
    </div>
  </div>

  <!-- Pop up for email -->
  <div class="modal" id="main--email-container">
    <ul>
      <li class="main--email">
        <span class="main--copy-email">mr.oliveira1227@gmail.com</span
        ><ion-icon class="main--copy-icon" name="clipboard-outline"></ion-icon>
      </li>

      <li class="main--email">
        <span class="main--copy-email">yugaitrov@gmail.com</span
        ><ion-icon class="main--copy-icon" name="clipboard-outline"></ion-icon>
      </li>

      <li class="main--email">
        <span class="main--copy-email">sakupartanen82@gmail.com</span
        ><ion-icon class="main--copy-icon" name="clipboard-outline"></ion-icon>
      </li>

      <li class="main--email">
        <span class="main--copy-email">hakanasmaoglu@gmail.com</span
        ><ion-icon class="main--copy-icon" name="clipboard-outline"></ion-icon>
      </li>
    </ul>
  </div>
</footer>
<div id="overlay-footer"></div>
