<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Wallpoet&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Geo&display=swap"
    rel="stylesheet"
  />
  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>

  <link rel="icon" href="/Images/favicons/Rulers-browser-64px.png" />
  <link rel="apple-touch-icon" href="/Images/favicons/Rulers-apple-180px.png" />
  <link rel="manifest" href="/manifest.webmanifest" />
  <script defer src="../Scripts/header.js"></script>
  <script defer src="../Scripts/footer.js"></script>
  <script defer src="../Scripts/modal.js"></script>
  <script defer src="../Scripts/"></script>
  <link rel="stylesheet" href="../Style Sheets/" />
  <link rel="stylesheet" href="../Style Sheets/header.css" />
  <link rel="stylesheet" href="../Style Sheets/footer.css" />
  <link rel="stylesheet" href="../Style Sheets/modal.css" />
  <title>Rulers</title>
</head>
