<header class="header">
  <!-- ///////////////////////////// -->
  <!-- LOGIN AND SIGNUP -->
  <!-- ///////////////////////////// -->
  <div class="signup-modal-content" id="signup-modal">
    <div class="modal-close">
      <button data-signup-close-button>&times;</button>
    </div>
    <div id="signup-modal-title">
      <p>Start Your Own Collection</p>
      <img src="../Images/Main logo/Ruler logo.png" id="signup-modal-logo" />
    </div>
    <div class="signup-modal-inputs">
      <form class="signup-form">
        <div class="signup-modal-username-field">
          <label for="signup-modal-username">Username</label><br />
          <input type="text" id="signup-modal-username" /><br />
        </div>

        <div class="signup-modal-password-field">
          <label for="signup-modal-password">Password</label><br />
          <input type="password" id="signup-modal-password" /><br />
        </div>
        <div class="signup-modal-showPassword-field">
          <input type="checkbox" id="signup-modal-showPassword" />
          <label for="signup-modal-showPassword">Show Password</label>
        </div>
        <div class="signup-modal-signup-submit">
          <button id="signup-modal-submit-button">Sign up</button>
        </div>
      </form>
    </div>
    <div class="signup-modal-already">
      <p>Already have an account?</p>
      <a href="#" data-modal-target="#login-modal" id="modal-login-link"
        >LOG IN</a
      >
    </div>
  </div>
  <div id="signup-modal-overlay"></div>
  <!-- /////////////////////// -->

  <!-- /////////////////////// -->
  <div class="login-modal-content" id="login-modal">
    <div class="modal-close">
      <button data-login-close-button>&times;</button>
    </div>
    <div id="login-modal-title">
      <p>Continue Collecting</p>
      <img src="../Images/Main logo/Ruler logo.png" id="login-modal-logo" />
    </div>
    <div class="login-modal-inputs">
      <form class="login-form">
        <div class="login-modal-username-field">
          <label for="login-modal-username">Username</label><br />
          <input type="text" id="login-modal-username" /><br />
        </div>
        <div class="login-modal-password-field">
          <label for="login-modal-password">Password</label><br />
          <input type="password" id="login-modal-password" /><br />
        </div>
        <div class="login-modal-options">
          <div class="login-modal-showPassword-field">
            <input type="checkbox" id="login-modal-showPassword" />
            <label for="login-modal-showPassword">Show Password</label>
          </div>
        </div>
        <div class="login-modal-button-elem">
          <button id="login-modal-login-btn">Log in</button>
        </div>
      </form>
    </div>

    <div class="login-modal-noAccount">
      <p>Don't have an account?</p>
      <a href="#" data-modal-target="#signup-modal" id="modal-register-link"
        >REGISTER</a
      >
    </div>
  </div>
  <div id="login-modal-overlay"></div>
  <!-- ///////////////////////////// -->
  <!-- ACTUAL HEADER CODE -->
  <!-- ///////////////////////////// -->
  <div class="container-header header__grid">
    <div class="header__menu-popup no-display">
      <ul>
        <li class="header__menu--item">
          <a href="./index.html">Main page</a>
        </li>
        <li class="header__menu--item">
          <a href="./allcards.html">All cards</a>
        </li>
        <li class="header__menu--item">
          <a href="./game.html">Guess game</a>
        </li>
        <li class="header__menu--item">
          <a href="./rulgems.html">Ruler gems</a>
        </li>
        <li class="header__menu--item">
          <a href="./cardinfo.html">Card info</a>
        </li>
      </ul>
    </div>
    <div class="header__grid--left">
      <button class="menu-nav">
        <ion-icon
          name="menu-outline"
          class="menu-icon header-icon menu-outline"
        ></ion-icon>
        <ion-icon name="menu" class="header-icon menu-filled"></ion-icon>
      </button>
    </div>

    <div class="header__grid--center">
      <div class="logo">
        <a href="./index.html">rulers</a>
        <img src="../Images/Main logo/Ruler logo.png" alt="" class="logo-img" />
      </div>
    </div>
    <div class="header__grid--right">
      <div class="account--nav">
        <div class="account--nav-el">
          <a href="./rulgems.html">
            <ion-icon
              name="diamond-outline"
              class="header-icon account--nav-icon icon-outline"
            ></ion-icon>
            <ion-icon
              name="diamond"
              class="header-icon account--nav-icon icon-filled"
            ></ion-icon>
            <p>1000</p>
          </a>
        </div>
        <div class="account--nav-el">
          <ion-icon
            name="person-outline"
            class="header-icon account--nav-icon icon-outline account-icon"
          ></ion-icon>
          <ion-icon
            name="person"
            class="header-icon account--nav-icon icon-filled account-icon"
          ></ion-icon>
        </div>
      </div>
    </div>
    <div class="account--menu-default no-display">
      <div class="account--menu-box log-sign-btn">
        <a class="account--menu-item" data-modal-target="#login-modal"
          >Log in</a
        >
      </div>
      <div class="account--menu-box log-sign-btn">
        <a class="account--menu-item" data-modal-target="#signup-modal"
          >Sign up</a
        >
      </div>
      <div class="account--menu-box account-item">
        <a href="./account.html" class="account--menu-item">Settings</a>
      </div>
      <div class="account--menu-box account-item">
        <a href="./collection.html" class="account--menu-item">Collection</a>
      </div>
      <div class="account--menu-box account-item">
        <a class="account--menu-item">Log out</a>
      </div>
    </div>
  </div>
</header>
